/*Selector{
	property : value;
}*/

p {
	font-style:italic;
	font-weight: bold;
	font-size: 150%;
	font-family: "Times New Roman",Georgia;
}

.risk:hover{
	background-color: red;
}

.safe:hover{
	background-color: green;
}